{% extends "baseunauth.html" %}
{% block title %}CodeWhiz{% endblock %}
{% block content %}

<section class="hero-section">
  <img src="/imgs/wallpaper.jpg" class="absolute w-full h-full" />
  <div class="absolute flex items-center justify-center z-10 inset-0">
    <div class="text-center text-white">
      <h1 class="text-4xl mb-4">Become a CodeWhiz in no time!</h1>
      <h2 class="text-xl mb-4">Quiz against other students</h2>
      <button onclick="openModalSignup()" class="glitch-btn">
        Get Started
      </button>
    </div>
  </div>
</section>

<script src="/js/script.js"></script>

{% endblock %}
