<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Portfolio</title>
        <link href="/css/port-style.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/imgs/favicon.png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    </head>

    <body>
        <div class="section" id="header">
            <h1>
                My <br>Name is <span class="red auto-type-text" id="autoText">Haruki</span><span class="auto-type-cursor" id="autoCursor">|</span><br>And I Am a Programmer
            </h1>
            <a href="#about">
                <button class="hacked-btn" role="button">See More About Me</button>
            </a>
        </div>

        <nav>
            <h2>Haruki.io</h2>
            <ul>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#projects">Projects</a>
                </li>
                <li>
                    <a href="#skills">Skills</a>
                </li>
            </ul>
        </nav>

        <div class="section" id="about">
            <h1 class="red">About</h1>
            <div class="about-top">
                <img src="/port-imgs/avatar.png">
                <p>Hi, I'm Haruki Raita and I am 11 years old and in 6th grade. I have been coding for a while now but the first language I learned is Scratch, but I'm not doing Scratch now. My favorite language is HTML and CSS. However, in my case CSS is <i>way</i> better than HTML. I like to do soccer and speed-cubing, I think it's because I usually solve math problems that include 3D figures. I want to get good at JavaScript later in the future along with Unity.</p>
            </div>
            <div class="about-bottom">
                <div class="hobby">
                    <i class="icon fa-solid fa-code fa-bounce"></i>
                    <p>If you are looking at this site, you should know what coding is. My favorite language is HTML and CSS, although CSS is <i>way</i> better than HTML.</p>
                </div>
                <div class="hobby">
                    <i class="icon fa-regular fa-futbol fa-bounce"></i>
                    <p>I love soccer as much as I like coding. I started doing soccer when I was 4, and now I am doing it by myself, and sometimes with my soccer friends.</p>
                </div>
                <div class="hobby">
                    <i class="icon fa-solid fa-cube fa-bounce"></i>
                    <p>It's bacically a sport that you compete with your time that took you solving a Rubik's Cube. I love it because I usually solve math problems that include 3D.</p>
                </div>
            </div>
        </div>

        <div class="section" id="projects">
            <h1 class="red">Projects</h1>
            <div class="my-projects">
                <div class="project">
                    <div class="screen">
                        <img src="/port-imgs/LaptopBlank.png">
                        <a href="https://glass-calculator.yraita.repl.co">
                            <div class="screen-img" id="calc">
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                    <div class="project-text">
                        <h2>Glass Calculator</h2>
                        <p>(Replica) made with HTML and CSS, it took me only one day to code this project and it's amazing that I didnt write any lines of JavaScript. The feature that it looks like glass looks awesome.</p>
                    </div>
                </div>
                <div class="project">
                    <div class="project-text">
                        <h2>Lion King</h2>
                        <p>Made with HTML and CSS, it took me a few months to code this project. I learned the usage of flexbox and it turned out looking very good.</p>
                    </div>
                    <div class="screen">
                        <img src="/port-imgs/LaptopBlank.png">
                        <a href="https://movie.yraita.repl.co/">
                            <div class="screen-img" id="movie">
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="project">
                    <div class="screen">
                        <img src="/port-imgs/LaptopBlank.png">
                        <a href="https://apple-store-just-for-learning-purposes-not-for-business.yraita.repl.co/">
                            <div class="screen-img" id="apple">
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </a>
                        <i class="fa-solid fa-star fa-beat fa-2xl"></i>
                    </div>
                    <div class="project-text">
                        <h2>Apple Store</h2>
                        <p>Made with HTML and CSS, it took me a very long time to code this project. I will use the modal in the projects that I make from now on.</p>
                    </div>
                </div>
                <div class="project">
                    <div class="project-text">
                        <h2>Pepsi Replica</h2>
                        <p>Made with HTML and CSS, it took about the same time to code this project as the same as the Apple Store. The button looks so cool!</p>
                    </div>
                    <div class="screen">
                        <img src="/port-imgs/LaptopBlank.png">
                        <a href="https://pepsicom-simulation-not-for-business-purposes.yraita.repl.co/">
                            <div class="screen-img" id="pepsi">
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="skills">
            <h1 class="red">Skills</h1>
            <div class="container">
                <div class="skills">
                    <div class="skill">
                        <div class="skill-name">HTML</div>
                        <div class="skill-bar">
                            <div class="skill-per" per="80%" style="max-width: 80%;"></div>
                        </div>
                    </div>
                </div>
                <div class="skills">
                    <div class="skill">
                        <div class="skill-name">CSS</div>
                        <div class="skill-bar">
                            <div class="skill-per" per="90%" style="max-width: 90%;"></div>
                        </div>
                    </div>
                </div>
                <div class="skills">
                    <div class="skill">
                        <div class="skill-name">JS</div>
                        <div class="skill-bar">
                            <div class="skill-per" per="20%" style="max-width: 20%;"></div>
                        </div>
                    </div>
                </div>
                <div class="skills">
                    <div class="skill">
                        <div class="skill-name">PYTHON</div>
                        <div class="skill-bar">
                            <div class="skill-per" per="80%" style="max-width: 80%;"></div>
                        </div>
                    </div>
                </div>
                <div class="skills">
                    <div class="skill">
                        <div class="skill-name">SCRATCH</div>
                        <div class="skill-bar">
                            <div class="skill-per" per="85%" style="max-width: 85%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <h1>Haruki.io</h1>
            <ul>
                <li>
                    <a href="#about">About Me</a>
                </li>
                <li>
                    <a href="#projects">Projects</a>
                </li>
                <li>
                    <a href="#skills">Skills</a>
                </li>
            </ul>
            <p>Copyright &copy; 2023 Haruki.io All Rights Reserved</p>
        </footer>

        <script src="/js/port-script.js"></script>
    </body>
</html>