{% extends "baseauth.html" %} {% block title %} Quiz - CodeWhiz {% endblock %} {%
block head_script %}
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
  rel="stylesheet"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.0/min/vs/loader.min.js"></script>
{% endblock %} {% block content %}
<div class="pt-24 pb-16 min-h-screen">
  <div id="mainContent" class="container mx-auto px-6"></div>
</div>
{% endblock %} {% block end_script %}
<script src="/js/quiz.js"></script>
{% endblock %}
