<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/test.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>CodeWhiz</title>
    <link rel="icon" type="image/x-icon" href="static/imgs/favicon.png" />
  </head>
  <body>
    <header>
      <a href="#" class="logo">Logo</a>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Home</a>
        </li>
      </ul>
    </header>
    <section class="banner"></section>
    <script src="../static/js/test.js"></script>
  </body>
</html>
