{% extends "base.html" %} {% block title %} Home - CodeWhiz {% endblock %} {%
block head_script %}
<script src="https://cdn.tailwindcss.com"></script>
{% endblock %} {% block content %}
<section class="hero-section">
  <img src="/imgs/wallpaper.jpg" class="absolute w-full h-full" />
  <div class="absolute flex items-center justify-center z-10 inset-0">
    <div class="text-center text-white">
      <h1 class="text-4xl mb-4">Start Quizing</h1>
      <a href="/quiz">
        <button class="glitch-btn">Get Started</button>
      </a>
    </div>
  </div>
</section>
{% endblock %} {% block end_script %}
<script src="/js/script.js"></script>
{% endblock %}
